
 <aside class="left-pane">

      <div class="profile-details">

        <div class="name_and_image">
          <i class="fas fa-user-circle fa-2x"></i>
          <p>Joseph Ndirangu </p>
        </div>

        <div class="followers-section">

          <div class="following">
            <h3>182</h3>
            <h6>Following</h6>
          </div>

          <div class="followers">
            <h3>182</h3>
            <h6>Followers</h6>
          </div>

        </div>
      </div>

      <div class="page-links">
        <ul>
          <li>Home</li>
          <li>Connect</li>
          <li>Discover</li>
        </ul>
      </div>

</aside>
<main class="main-pane">
      
    <article class="tweets-article">
      
    </article>
        
    <article class="who-to-follow">

    </article>
</main>