<div class="card ml-5 h-5 mt-5">
            <div class="card-body">
                <h5 class="card-title text-left">Tweet something </h5>
                <%= form_for @opinion , method:'post' do |form|%>
                <div class="form-group">
                    <% form.label :opinion%>
                    <%= form.text_field :text, class:"form-control w-100,",placeholder:'Compose new tweet' %>
                </div>
                <% end %>
            </div>
</div>