<div class="user-profiles">
    <div class="card-body">

    <div class="tweets-display card mb-3">
        <%= who_to_follow(current_user) %>
    </div>

                
                
    </div>
</div>