<div class="user-profiles">
    <div class="name-and-handle">
        <%ids = current_user.followings.pluck(:FollowerId) %>
        <% if ids.size == 0%>
            <% User.all.each do |user|%>
                <% if user.photo.attached?%>
                <%= image_tag(user.photo, class:"w-25 h-5 rounded-circle ml-10")%>
                <%end%>
                <%= user.fullname%><br>
            <%end%>
        <%end%>
            
            
        <p>Followed by</p>
    </div>
</div>