<%= form_for @opinion , method:'post' do |form|%>
    <div class="form-group">
        <% form.label :opinion%>
        <%= form.text_field :text, class:"form-control w-100,",placeholder:'Compose new tweet' %>
    </div>
<% end %>