<div class="profile_image border-bottom">
    <%= image_tag(@user.photo, class:"rounded-circle w-25") %>
    <div class="details text-center">
    <%= @user.fullname %>
    <p>@<%= @user.username %></p>
   
</div>
<div class="specific-details">
    <p>Tweets</p>
    <p>Followers</p>
    <p>Following</p>
</div>
</div>

<div class="w-100 border-bottom mt-25 pt-1">
    <p>Followed by</p>
</div>