<div id='sidebar'>
    <div class="sidebar-header col-3">
        <h3>Profile Information</h3>

    </div>
    <ul class="list-unstyled components">
        <li><%= link_to "Page 1", "#" %></li>
        <li><%= link_to "Page 2", "#" %></li>
        <li><%= link_to "Page 3", "#" %></li>
    </ul>
</div>