@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700);
body {
	font-family: 'Poppins', sans-serif;
	background: #f4f5f7;
	overflow-x: hidden;
}
p {
	font-family: 'Poppins', sans-serif;
	font-size: 1.1em;
	font-weight: 300;
	line-height: 1.7em;
	color:#999;

}
a {
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
	&:hover {
		color: inherit;
		text-decoration: none;
		transition: all 0.3s;
	}
	&:focus {
		color: inherit;
		text-decoration: none;
		transition: all 0.3s;
	}
}
#sidebar {
	background: #213246;
    color: #ffffff;
    min-width: 180px;
    max-width: 180px;
	min-height: 100vh;
	margin-right: 0;
	transition: all 0.3s;
	.sidebar-header {
		padding: 20px;
		background: #213245;
		.col-6 {
			max-width:80%;
		}
		.side-profile-image {
			display: flex;

			.username {
				margin-left: 1em;
			}
		}
		.follow-statistics {
			display: flex;
			justify-content: space-between;
			padding-top: 2em;

			.following-count, .followers-count {
				display: flex;
				flex-direction: column;
				padding-right: 1em;
				
				p {
					font-size: 15px;
				}
			}
		}
	}
	ul.components {
		padding: 20px 0;
		border-bottom: 1px solid #47748b;
	}
	ul {
		p {
			color: #fff;
			padding: 10px;
		}
		li {
			a {
				padding: 10px;
				font-size: 1.1em;
				display: block;
				&:hover {
					color: #7386D5;
					background: #fff;
				}
			}
		}
	}
}
nav {
	background-color: #56abec;
}
.container {
	display: flex;
	margin: 0;
	padding: 0;
	@media(min-width: 768px){
		max-width:100%;
	}
	.specific-details {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.user-profiles {
		display: flex;
	}
	.card {
		display: flex;
		justify-items: center;
		align-items: center;
		margin-top: 2em;
		margin-left: 3em;
	}
	
	
}
.tweets-display {
	display: grid;
	grid-template-columns: 20% 80%;
	grid-template-rows: repeat(2,40px);

	:first-child {
		display: grid;
		grid-column: 1/2;
		grid-row: 1/-1;
		margin: 2%;
		
	}
	:nth-child(2n+0) {
		display: grid;
		grid-column: 2/-1;
		grid-row: 1/2;
		text-align: left;
		font-size: larger;
		font-weight: 800;
		
		
	}
	:nth-child(3n+0){
		display: grid;
		grid-column: 2/-1;
		grid-row: 2/-1;
		text-align: left;
		font-size: medium;
		
	}
	
}
.follow-display {
	display: flex;
	
}
.users-page {
	display: flex;
	flex-direction: column;
	padding-left: 3em;
	padding-top: 2em;
	p {
		margin-bottom: 0;
	}
	a {
		margin-bottom: 0.8em;
	}
}
.who-to-follow {
	display: flex;
	flex-direction: column;
	padding-left: 1em;
	padding-top: 0.5em;
	p {
		margin-bottom: 0;
		text-align: left;
	}
	a {
		margin-bottom: 0.31em;
		text-align: left;
		
	
	}
}
.logo {
	p {
		font-family: 'Poppins', sans-serif;
		font-size: 1.1em;
		font-weight: 300;
		line-height: 1.7em;
		color: #000;	
	}
}
.art-work {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	.card {
		width: 14rem;
		margin-top: 2rem;
		img {
			max-height: 12rem;
		}
	}
}
.btn {
	width: 100px;
	text-align: center;
}