// Place all the styles related to the Artwork controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.art-work {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	.card {
		width: 14rem;
		margin-top: 2rem;
		img {
			max-height: 12rem;
		}
	}
}